<% provide(:title, 'About Us') %>
<h1>О продукте</h1>
<p>
  В даний час в області сучасної та своєчасної розробки програмних додатків одними з найважливіших критеріїв є швидкість написання програми та правильний розподіл завдань між розробниками. У житті будь-якої компанії буває момент, коли кількість справ, яке змушені контролювати співробітники і особливо керівництво стає таким, що перевершують можливості людської пам'яті.
  Буває й інша ситуація подібна до цієї – відділ, що складається більш ніж з 15-20 співробітників, які працюють одночасно над одним завданням – складна структура для управління, і без спеціальних засобів проконтролювати їх роботу надзвичайно складно.
  <br>
  Дана робота присвячена проектуванню і розробці продукту, який дасть змогу прискорити розробки різних програмних проектів.
  <br>
  Програма призначена для того, щоб: викладачі та розробники – студенти могли контролювати всі процеси, бачити проект в цілому; щоб викладачі могли ефективно організувати роботу студентів, призначати їм завдання, мати миттєві засоби контролю виконання; для ефективних комунікацій між всіма учасниками розробки; для сбереження різної протокольної інформації, аналізу витраченого користувачами часу на певну задачу; для контролю за термінами виконання.
  Метою дипломної роботи є створення спрощеного безкоштовної системи контролю задач, використання якої обумовлюється потребами університету. Областю застосування даного програмного продукту є Дніпропетровский національний университет зализничного транспорту імені академіка В.Лазаряна (ДНУЗТ), а саме використання в межах таких дисциплін кафедри ТК, як:
 <br>
  1. «Програмування та САПР ПО » (4 курс).
  <br>
  2. «Компонентне і розподілене програмування» (5 курс).

</p>