<% provide(:title, 'Help') %>
<h1>Помощь</h1>
<p>
    <ol>
       <li>Зарегистрируйтесь/авторизируйтесь</li>
       <li>Нажмите Учетная запись->профиль</li>
       <li>Создавайте проект</li>
       <li>Со страницы профиля нажмите ссылку на созданный проект</li>
       <li>Создавайте необходимое содержимое для проекта</li>
       <li>Работайте</li>
    </ol>
</p>