<footer class="footer">
  <small>
    <%=link_to "АРМ \"Команда\"", root_path%>
    by Savinov Evgen
  </small>
  <nav>
    <ul>
      <li><%= link_to "О продукте",   about_path, class: "btn btn-info" %></li>
      <li><%= link_to "Контакты", contact_path, class: "btn btn-info" %></li>
      <li><a href="http://news.railstutorial.org/" class="btn btn-info">Новости Rails</a></li>
    </ul>
  </nav>
</footer>